<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "initial-scale=1.0, width=device-width">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= page_title %></title>

    <%= stylesheet_link_tag "all" %>

    <link rel="alternate" type="application/rss+xml" title="Podcast RSS Feed" href="<%= full_url("/episodes.rss") %>" />
    <link rel="icon" href="<%= image_path "favicon.png" %>" />
  </head>

  <body class="<%= page_classes %>">
    <header role="banner">
      <%= image_tag "logo-300.png", alt: "Logo" %>
      <h1><%= link_to site_name, "/" %></h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer role="contentinfo">
      <p>Copyright &copy; <%= copyright_date %> <br> Patrick Byrne &amp; Samuel Fine</p>
      <p><%= link_to "Podcast feed", full_url("/episodes.rss") %></p>
      <p><%= link_to "Subscribe in iTunes", "https://itunes.apple.com/us/podcast/some-fine-television/id1016238018" %></p>
    </footer>
  </body>
</html>
