<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= page_title %></title>

    <%= stylesheet_link_tag "all" %>

    <link rel="alternate" type="application/rss+xml" title="Podcast RSS Feed" href="<%= full_url("/episodes.rss") %>" />
  </head>

  <body class="<%= page_classes %>">
    <header role="banner">
      <%= image_tag "logo-300.png", alt: "Logo" %>
      <h1><%= link_to site_name, "/" %></h1>
    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer role="contentinfo">
      <p>Copyright &copy; <%= copyright_date %> Patrick Byrne &amp; Samuel Fine</p>
      <p><%= link_to "Podcast feed", full_url("/episodes.rss") %></p>
    </footer>
  </body>
</html>
